:root {
  --dark-shade-0: #020202;
  --dark-shade-1: #0F0F0F;
  --dark-shade-2: #201F21;
  --dark-shade-3: #262626;
  --dark-shade-4: #424242;
  --light-shade-1: #AEAEAE;
  --light-shade-2: #D9D9D9;
  --light-shade-3: #F7F3F0;
  --accent-red: #F80043;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 4%;
  background-color: var(--dark-shade-3);
}

.navbar a:hover {
  transition: color ease-out 0.2s;
  color: var(--accent-red);
}

.navbar a {
  font-size: 1rem;
  display: block;
  margin-left: 40px;
  text-decoration: none !important;
  color: var(--light-shade-3);
}

a.me {
  margin-left: auto;
}

.page {
  height: 400vh;
  padding: 50px 40px;
  background-image: linear-gradient(8deg, var(--dark-shade-3), var(--dark-shade-1))
}

section.me {
  position: relative;
  height: 80vh;
  width: 70vw;
  margin: auto;
  padding-top: 100px;
}

.v-decorator {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  font-weight: 700;
  color: var(--dark-shade-0);
}

.v-decorator.name {
  position: absolute;
  left: -5.75%;
  top: 150px;
}

.v-decorator.me {
  font-size: 12rem;
  position: absolute;
  left: 6%;
  top: 400px;
}

.v-decorator.about {
  position: absolute;
  left: 23%;
  top: 340px;
}

.rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.h-name {
  display: table;
  position: relative;
  left: 70px;
  font-size: 9rem;
  color: var(--light-shade-3);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: var(--light-shade-3);
  word-wrap: break-word;
  width: 38vw;
  position: relative;
  top: 40px;
  left: 35%;
}

section.exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 110vh;
  width: 70vw;
  margin: auto;
  padding-top: 120px;
  font-family: 'Roboto', sans-serif;
  color: var(--light-shade-3);
}

.exp-container {
  width: 21%;
}

.number {
  position: relative;
  left: -10px;
  font-size: 11rem;
  font-weight: bold;
  color: var(--accent-red);
}

section.exp h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

section.exp h4 .desc {
  font-size: 1.125rem;
}

section.exp .detail {
  font-family: 'Playfair Display', serif;
}

section.exp > div {
  position: relative;
}

#exp-1 {
  top: 0px;
}

#exp-2 {
  top: 240px;
}

#exp-3 {
  top: 120px;
}

@media screen and (max-width: 800px) {
  .exp-container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .page {
    height: min-content;
  }

  .h-name {
    left: 0px;
    font-size: 25vw;
  }

  .about-me {
    font-size: 4vw;
    width: 100%;
    left: 0px;
  }

  section.exp {
    height: max-content;
  }

  .v-decorator.me {
    left: -20%;
  }

  .v-decorator.about {
    left: 35%;
  }

  #exp-1, #exp-2, #exp-3 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}
